xml-files/Enigma-Ex3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema for Exercise 3 - adds "name" attribute to BTE-Enigma -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BTE-Rotors">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="BTE-Rotor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BTE-Rotor">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="BTE-Positioning"/>
			</xs:sequence>
			<xs:attribute name="notch" type="xs:int" use="required"/>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BTE-Reflectors">
		<xs:complexType>
			<xs:sequence maxOccurs="5">
				<xs:element ref="BTE-Reflector"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BTE-Reflector">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="BTE-Reflect"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="I"/>
						<xs:enumeration value="II"/>
						<xs:enumeration value="III"/>
						<xs:enumeration value="IV"/>
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BTE-Reflect">
		<xs:complexType>
			<xs:attribute name="input" type="xs:int" use="required"/>
			<xs:attribute name="output" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BTE-Positioning">
		<xs:complexType>
			<xs:attribute name="left" type="xs:string" use="required"/>
			<xs:attribute name="right" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BTE-Enigma">
		<xs:complexType>
			<xs:all>
				<xs:element name="ABC" type="xs:string"/>
				<xs:element ref="BTE-Rotors"/>
				<xs:element ref="BTE-Reflectors"/>
			</xs:all>
			<!-- NEW in Exercise 3: name attribute for machine name -->
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="rotors-count" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>

